@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import 'components/css/footer.css';
@import 'components/css/header.css';
@import 'components/css/repository.css';
@import 'components/css/user.css';

/* Genneral */

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 0% 20%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
}

h4, p {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.repos-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 33% 34% 33%;
  padding: 40px 0px;
}

.user-container {
  display: flex;
  flex-direction: column;
}

.filter-repo {
  padding-top: 40px;
}

/* make grid responsive on mobile */

@media only screen and (max-width: 768px) {
  .repos-container {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .repos-container {
    grid-template-columns: 100%;
    grid-column-gap: 5%;
  }
}
