.App {
  text-align: center;
}

/* Repos */


.repos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
}

.repo {
  padding: 10px;;
}

.card-body {
  height: 100%;
  border: solid;
  border-color: grey;
}

.card-link {
  bottom: 0;
  right: 33%;
  text-decoration: none;
  color: #282c34;
}

/* Users */

.user-picture {
  border-radius: 50%;
  width: 50%;
}
